.new
{
    margin-top: 25px;
    transform: rotate(353deg);
}

.international
{
    padding-top: 25px;
    padding-bottom: 20px;
}

.blog
{
    margin-left: 20px;
}

.lecture1
{
    margin-left: 60px;
}

.lecture2
{
    margin-left: 75px;
    margin-top: -15px;
}

.lecture3
{
    margin-left: 70px;
    margin-top: -15px;
}

.t1 
{
    color: green;
    margin-top: 20px;
}

.t2
{
    color: green;
    margin-top: -12px;
}

.special
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 35px;
    margin-bottom: 50px;
}

.t3 
{
    margin-top: 40px;
    color:#C71E75;
}

.bold
{
    font-weight: bold;
}

.millenium2
{
    margin-top: -20px;
}

.millenium3
{
    color: #605B5D;
}

hr{
    width: 100%;
    height: 2px;
    background-color:#605B5D;
    border: none; 
}

i
{
    padding-right: 5px;
}

.foot2
{
    margin-left: 250px;
    margin-top: -200px;
}

.nav-link
{
    color: #878284;
}
.foot3
{
    color: #878284;
    text-align: right;
}

.media
{
    margin-top: 50px;
    background-color: #EEF1EC;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 30px;
}

.mort
{
    color: #65B233;
    padding-top: 35px;
}

.femme
{
    color: #65B233;
    padding-top: 35px;
}

.harry
{
    padding-right: 20px;
}

.polar1
{
    padding-right: 20px;
}

footer
{
    margin-top: 15px;
}